<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Configuration</key>
	<dict>
		<key>API_BASE_URL</key>
		<string>$(API_BASE_URL)</string>
		<key>CENSO_AUTH_BASE_URL</key>
		<string>$(CENSO_AUTH_BASE_URL)</string>
		<key>MIN_VERSION_URL</key>
		<string>$(MIN_VERSION_URL)</string>
		<key>OKTA</key>
		<dict>
			<key>clientId</key>
			<string>$(OKTA_CLIENT_ID)</string>
			<key>issuer</key>
			<string>$(OKTA_ISSUER)</string>
			<key>logoutRedirectUri</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER):/logout</string>
			<key>redirectUri</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER):/login</string>
			<key>scopes</key>
			<string>openid profile email offline_access</string>
		</dict>
		<key>OKTA_DOMAIN</key>
		<string>$(OKTA_DOMAIN)</string>
		<key>RAYGUN_API_KEY</key>
		<string>$(RAYGUN_API_KEY)</string>
		<key>RAYGUN_ENABLED</key>
		<string>$(RAYGUN_ENABLED)</string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Access to camera is required to capture your photo for registration</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Censo uses Face ID to verify identity</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
